<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-arsenic" role="navigation" aria-label="main navigation">
    <a class="navbar-brand" href="/">
      <svg baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 289 80" xml:space="preserve" width="120px" class="logo-bg-light">
        {% include logo.svg %}
      </svg>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        {% for item in site.menu.[page.lang] %}
        {% if item[1].sublinks %}
        <!-- Dropdown -->
        <li class="nav-item dropdown pl-1">
          <a href="{{ item[1].url }}" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ item[1].prep }} {{ item[1].name }}
          </a>
          <div class="dropdown-menu bg-arsenic" aria-labelledby="navbarDropdownMenuLink">
            {% for sublink in item[1].sublinks %}
                <a href="{{ sublink.url }}" class="dropdown-item text-light smooth-scroll">{{ sublink.name }}</a>
            {% endfor %}
          </div>
        </li>
        {% else %}
        <!-- normal link -->
        <li class="nav-item pl-1">
            <a href="{{ item[1].url }}" class="nav-link">{{ item[1].prep }} {{ item[1].name }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      <ul class="navbar-nav navbar-dark ml-md-auto">
      <!-- lang switch -->
        <div>
          <div class="btn-group" role="group" aria-label="Basic example">
            {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
            {% for post in posts %}
            <button type="button" class="btn btn-secondary {{ post.lang }} nav-link bg-arsenic px-2" onclick="window.location.href='{{ post.url }}'">
              {{ post.lang }}
            </button>
            {% endfor %}
            {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
            {% for page in pages %}
            <button type="button" class="btn btn-secondary {{ page.lang }} nav-link bg-arsenic px-2" onclick="window.location.href='{{ page.url }}'">
              {{ page.lang }}
            </button>
            {% endfor %}
          </div>
        </div>
      </ul>
    </div>
  </nav>
</header>