<!DOCTYPE html>
<html lang="{{page.lang}}">
<head>
  <title>Rehpere</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href={{ "/assets/css/main.css" | prepend: site.url }} />
  <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700|PT+Serif:700" rel="stylesheet"> 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">
</head>

