$red: #c52233;
$arsenic: #403f4c;


$theme-colors: (
  "red": $red,
  "arsenic": $arsenic,
  "primary": $red,
);

$font-family-sans-serif:
	'Raleway', "Helvetica Neue", Arial, sans-serif,
	"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;