header
	background-color: $background-color-header

	.wrapper

		.title-wrapper
			text-align: center

			.subtitle
					color: $text-color-dark
					padding-bottom: 1em

			a:hover, a:visited, a:link
				color: $text-color-dark

	.lang
		overflow: hidden
		a
			float: right
			text-align: center
			padding: 5px 16px
		a:hover, a:visited, a:link
				color: $text-color-dark

	.en:lang(en), .fr:lang(fr)
		font-weight: bold