---
layout: one-column
---


<h1>{{ page.course_name }}</h1>
{% if page.semester.size == 2 %}
	<h4>Semestre {{page.semester[0]}} & {{page.semester[1]}}</h4>
{% else %}
	<h4>Semestre {{page.semester}}</h4>
{% endif %}

{% if page.prof_id %}
	{% assign prof = site.data.members | where: "lang", page.lang | where: "flatname", page.prof_id %}
{% else %}
	{% assign prof = page.prof_name %}
{% endif %}


{% if page.lang != "fr" %}
	{% assign folder = page.lang %}
{% else %}
	{% assign folder = '' %}
{% endif %}

{% if page.prof_id %}
	<a href="{{site.url}}/{{folder}}{{prof[0].flatname}}">
		<h2>{{ prof[0].full_name }}</h2>
	</a>
{% else %}
	<h2>{{ page.prof_name}}</h2>
{% endif %}

<div class="text-justify">
	{{ page.description | markdownify}}
</div>

{% if site.data.courses_syllabus[page.course_id] %}
	<hr/>
	<h3>Syllabus</h3>
	{{ site.data.courses_syllabus[page.course_id][page.lang] | markdownify}}
{% endif %}

{% if site.data.courses_bib[page.course_id] %}
	<hr/>
	<h3>References</h3>
	{{ site.data.courses_bib[page.course_id].bib | markdownify }}
{% endif %}




