---
layout: one-column
---


<h1>{{ page.course_name }}</h1>
<hr/>

{% if page.semester.size == 2 %}
	{% if page.lang == "fr" %}
		<h4>Semestre {{page.semester[0]}} & {{page.semester[1]}}</h4>
	{% else %}
		<h4>Semester {{page.semester[0]}} & {{page.semester[1]}}</h4>
	{% endif %}
{% else %}
	{% if page.lang == "fr" %}
			<h4>Semestre {{page.semester}}</h4>
	{% else %}
			<h4>Semester {{page.semester}}</h4>
	{% endif %}
{% endif %}

{% if page.course_master %}
<h5>{{ page.course_master}}</h5>
{% endif %}

{% if page.prof_id %}
	{% assign profs = site.data.members | where: "lang", page.lang %}
	{% assign profIds = '' | split: '' %}

	{% for prof in profs %}
		{% if page.prof_id contains prof.flatname %}
			{% assign newProf = prof.flatname | split: 'none'%}
			{% assign profIds = profIds | concat: newProf %}
		{% endif %}
	{% endfor %}


	{% capture professors %}
		<h3>
		{% for id in profIds %}
			{% assign prof = profs | where:"flatname", id %}
			{% assign prof = prof[0] %}
				<a href="{{site.url}}/{{folder}}{{prof.flatname}}">{{ prof.firstname }} {{ prof.surname }}</a>
			{% if forloop.last  == false %}
				<span>&mdash;</span>
			{% endif %}
		{% endfor %}
		</h3>
	{% endcapture %}
{% endif %}


{% if page.lang != "fr" %}
	{% assign folder = page.lang %}
{% else %}
	{% assign folder = '' %}
{% endif %}

{% if page.prof_id %}
	{{ professors }}
{% else %}
	<h3>{{ page.prof_name}}</h3>
{% endif %}

<hr/>
<div class="text-justify">
	{{ page.description | markdownify}}
</div>

{% if site.data.courses_syllabus[page.course_id] %}
	<hr/>
	<h3>Syllabus</h3>
	{{ site.data.courses_syllabus[page.course_id][page.lang] | markdownify}}
{% endif %}

{% if site.data.courses_bib[page.course_id] %}
	<hr/>
	{% if page.lang == "fr" %}
	<h3>Références</h3>
	{{ site.data.courses_bib[page.course_id].bib | markdownify }}
	{% else %}
	<h3>References</h3>
	{{ site.data.courses_bib[page.course_id].bib | markdownify }}
	{% endif %}
{% endif %}
