---
layout: one-column
---

<div class="text-center p-1">
	<h1> {{ site.courses[page.lang].title}}</h1>
</div>

{% for sem in (1..2) %}
{% assign courses = site.data.courses | where:"lang", page.lang | where:"semester", sem | sort:"course_name" %}
	<h3>{{ site.courses[page.lang].semester}} {{sem}}</h3>

	<ul class="fa-ul">
		{% for course in courses %}
		<li >
			<i class="fa-li fa fa-angle-right"></i>
					<h5>{{ course.prof_name }}</h5>
				<ul>
					<li><a href="{{site.baseurl}}{{course.course_id}}" class="font-italic">
						{{ course.course_name }}
					</a></li>
				</ul>
		</li>
		{% endfor %}
	</ul>
{% endfor %}