---
layout: one-column
---

<!-- Image with small description  -->
<div class="d-flex pt-4 flex-md-nowrap flex-wrap">
	<div class="p-2">
		<img src="{{site.url}}{{site.img_path}}people/{{ page.picture }}" alt="{{page.flatname}}" width="256px" height="auto">
	</div>
	<div class="">
        <h2>{{ page.firstname }} {{ page.surname }} {% if page.twitter != blank %} <a class="twitter-link" href="https://twitter.com/{{page.twitter}}">@{{page.twitter}}</a> {% endif %}</h2>
			<p class="strong"> <i class="fas fa-graduation-cap"></i> {{ page.status }}<p>
			<p> <i class="fas fa-university"></i> {{ page.institution }}</p>
			<p> <i class="fas fa-envelope"></i> <a href="mailto:{{ page.contact }}">{{ page.contact }}</a></p>
		</ul>
		<p>
			{% for theme in page.themes %}
			<span class="badge badge-primary"> <i class="fas fa-search"></i> {{ theme }}</span>
			{% endfor %}
		</p>
		<p>
			{% for author in page.authors %}
			<span class="badge badge-secondary"> <i class="far fa-user-circle"></i> {{ author }}</span>
			{% endfor %}
		</p>
	</div>
</div>

<!-- Small bio  -->
{% if page.free_text %}
	<div class="text-justify">
        <h2>{{ site.people[page.lang].about }}</h2>
		<p>{{ page.free_text | markdownify}}</p>
	</div>
{% endif %}

<!-- External links -->
{% if page.external %}
    <div class="pt-3">
        <h2>{{ site.people[page.lang].externals }}</h2>
        {% for elem in page.external %}
            <a href="{{elem.link}}"><button type="button" class="btn btn-info text-white m-2 p-2"><i class="fas fa-external-link-alt"></i> {{elem.name}}</button></a>
        {% endfor %}
    </div>
{% endif %}


<!-- Publications -->
{% capture biblio %}
	{% bibliography --query @*[authorid ~={{page.flatname}}] %}
{% endcapture %}

{% if biblio.size > 5 %} <!-- Test if there is a biblio -->
    <div class="pt-4">
        <h2>{{ site.people[page.lang].publications }}</h2>
        {{ biblio }}
    <div>
{% endif %}
