---
layout: one-column
---

<div class="text-center p-1">
  <h1> {{ site.biblio[page.lang].title }}</h1>
</div>

<ul class="fa-ul">
    {% assign articles = site.data.biblio | sort: "year" | reverse %}
    {% for paper in articles %}
      <li>
        <i class="fa-li fa fa-angle-right"></i>
        <h5>
          	<a class="post-link" href="{{paper.link}}">
	        	<span class="bib-author">{{paper.author}}</span>
	        	<span class="bib-year">({{paper.year}})</span>.
	        	<span class="font-italic">{{ paper.title }}</span>.
	        	<span class="bib-journal">{{ paper.journal}}</span>
	        </a>
        </h5>
      </li>
    {% endfor %}
</ul>