---
layout: default
---

{% assign folder = page.pointer %}
{% assign people = site.data.members | where:"lang", page.lang | sort:"surname" %}

<h1 class="text-center display-4">{{ site.team[page.lang].title }}</h1>


<div class="row p-2">
		{% for guy in people %}
		<div class="col-lg-4 col-md-6 text-center mx-auto p-4">
			<a class="column has-text-centered" href="{{site.baseurl}}{{folder}}{{ guy.flatname | downcase | replace: ' ', '-'}}">
				<img class="rounded-circle img-fluid" src="{{site.url}}{{site.img_path}}people/{{guy.picture}}" alt="picture_{{guy.flatname}}" width="140" height="140">
				<h3 class="">{{ guy.name }} {{ guy.surname }}</h3>
			</a>
		</div>
		{% endfor %}
</div>
