---
layout: default
---

{% assign folder = page.pointer %}

<h1 class="title team-title">{{ site.team[page.lang].title }}</h1>

<div class="container">
{% assign people = site.data.members | where:"lang", page.lang %}
{% for guy in people %}
  <div class="team-list_element">
      <a class="link team_link" href="{{site.baseurl}}{{folder}}{{ guy.flatname | downcase | replace: ' ', '-'}}">
        <img src="{{site.url}}{{site.img_path}}people/{{guy.picture}}" alt="picture_{{guy.flatname}}" class="image-cropped">
        <h2 class="team-list_title">
          {{ guy.full_name }}
        </h2>
      </a>
  </div>
{% endfor %}
</div>